@font-face {
    font-family: 'db_gill_siam_xlight';
    font-style: normal;
    font-weight: normal;
    src: local('db_gill_siam_xlight'), url('./../fonts/db_gill_siam_x_li_v3.2_2-webfont.woff') format('woff');
}

@font-face {
    font-family: 'db_gill_siam_xlightit';
    font-style: normal;
    font-weight: normal;
    src: local('db_gill_siam_xlightit'), url('./../fonts/db_gill_siam_x_li_it_v3.2_3-webfont.woff') format('woff');
}

@font-face {
    font-family: 'db_gill_siam_xregular';
    font-style: normal;
    font-weight: normal;
    src: local('db_gill_siam_xregular'), url('./../fonts/db_gill_siam_x_v3.2_2-webfont.woff') format('woff');
}

@font-face {
    font-family: 'db_gill_siam_xitalic';
    src: local('b_gill_siam_xitalic'), url('./../fonts/db_gill_siam_x_it_v3.2_2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'db_gill_siam_xbold';
    font-style: normal;
    font-weight: normal;
    src: local('db_gill_siam_xbold'), url('./../fonts/db_gill_siam_x_bd_v3.2_2-webfont.woff') format('woff');
}

@font-face {
    font-family: 'db_gill_siam_xboldit';
    font-style: normal;
    font-weight: normal;
    src: local('db_gill_siam_xboldit'), url('./../fonts/db_gill_siam_x_bd_it_v3.2_2-webfont.woff') format('woff');
}


