.contain {
  width: 100%;
}
.rowmain {
  overflow-x: scroll;
}
.row__inner {
  transition: 450ms -webkit-transform;
  transition: 450ms transform;
  transition: 450ms transform, 450ms -webkit-transform;
  font-size: 0;
  white-space: nowrap;
  margin: 15.3125px 0;
  // padding-bottom: 10px;
}
.tile {
  position: relative;
  display: inline-block;
  width: 33.33%;
  height: auto;
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: 450ms all;
  -webkit-transform-origin: center left;
          transform-origin: center left;
}
.tile__img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}
.tile__details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  font-size: 14px;
  opacity: 0;
  background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
  transition: 450ms opacity;
}
// .tile__details:after,
// .tile__details:before {
//   content: '';
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   display: #000;
// }
// .tile__details:after {
//   margin-top: -25px;
//   margin-left: -25px;
//   width: 50px;
//   height: 50px;
//   border: 3px solid #ecf0f1;
//   line-height: 50px;
//   text-align: center;
//   border-radius: 100%;
//   background: rgba(0,0,0,0.5);
//   z-index: 1;
// }
  // .tile__details:before {
  //   content: '▶';
  //   left: 0;
  //   width: 100%;
  //   font-size: 30px;
  //   margin-left: 7px;
  //   margin-top: -18px;
  //   text-align: center;
  //   z-index: 2;
  // }
.tile:hover .tile__details {
  opacity: 1;
}
.tile__title {
  position: absolute;
  bottom: 0;
  padding: 10px;
  color: #fff
}
.row__inner:hover {
  -webkit-transform: translate3d(-62.5px, 0, 0);
          transform: translate3d(-62.5px, 0, 0);
}
.row__inner:hover .tile {
  opacity: 0.3;
}
.row__inner:hover .tile:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  opacity: 1;
}
.tile:hover ~ .tile {
  -webkit-transform: translate3d(125px, 0, 0);
          transform: translate3d(125px, 0, 0);
}
