$black: #000;
$gray: #606060;
$white: #fff;
$green: #159748;
$blue: #1aabff;
$light-gray: rgba(255,255,255,0.3);
$dark-gray: #575757;
$dark-blue: #1e6bdb;
$dark-green: #00b400;
$dark-red: #ff4f42;
$dark-oragne: #f89421;

$brown: #bb8d5f;
$dark-brown: #9e7751;

$font-base: 'Roboto', sans-serif;
$font-thai: 'Prompt', sans-serif;

$min_width: 320px;
$max_width: 1200px;
$min_font: 18px;
$max_font: 35px;
