/* By Athlon Front-End Team */
@import ~bootstrap/scss/bootstrap
@import ~bootstrap/scss/functions
@import ~bootstrap/scss/variables

@import ~sass-mediaqueries/media-queries

@import ~@fortawesome/fontawesome-free/scss/fontawesome.scss
@import ~@fortawesome/fontawesome-free/scss/brands.scss
@import ~@fortawesome/fontawesome-free/scss/regular.scss
@import ~@fortawesome/fontawesome-free/scss/solid.scss

@import url('https://fonts.googleapis.com/css?family=Prompt:300,400,500,600|Roboto:300,400,500,700&display=swap')

@import ~hover.css/scss/hover.scss

@import '~slick-carousel-no-fonts/slick/slick.scss'
@import '~slick-carousel-no-fonts/slick/slick-theme.scss'

@import '~@fancyapps/fancybox/dist/jquery.fancybox.css'

@import '~malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css'


/* Fonts */
// @import 'base/fonts'

/* Loading */
@import 'base/loading'

/* Mixin */
@import 'base/mixins'

/* Core variables */
@import 'base/vars'

/* Form */
@import 'base/form'

/* Browser specific styles */
@import 'dirty/hacks'

@import 'base/port'

*
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    box-sizing: border-box
html, body
    margin: 0
    padding: 0
    border: 0
body
    font-family: $font-base
    font-weight: 300
    @include rem("font-size", 18)
    // overflow-x: hidden
    color: $white
    background-color: #fff
a
    color: $white
    &:hover
        color: $red

.container-fluid
    padding-right: 0 !important
    padding-left: 0 !important
    overflow: hidden

//utility
ul
    list-style: none
    padding: 0
    margin: 0
a
    color: #333
    &:hover
        text-decoration: none
.text
    &__gray
        color: $gray
    &__black
        color: $black
    &__blue
        color: $blue
    &__darkgray
        color: $dark-gray
    &__darkblue
        color: $dark-blue
    &__darkgreen
        color: $dark-green
    &__darkred
        color: $dark-red
    &__darkorange
        color: $dark-oragne

.light
    font-weight: 300

.logo
    img
        width: 150px
        +media-breakpoint-down(lg)
            width: 150px
//video
.main-slider
    position: relative
    width: 100%
    // height: 38vw
    // min-height: 8vw
    opacity: 0
    visibility: hidden
    transition: all 1.2s ease

.main-slider.slick-initialized
    opacity: 1
    visibility: visible


.slick-slide
    position: relative
    // height: 38vw

.slick-slide::before
    background-color: #000
    opacity: .3
    z-index: 1

.slick-slide video
    display: block
    position: absolute
    top: 50%
    left: 50%
    min-width: 100%
    min-height: 100%
    width: auto
    height: auto
    transform: translate(-50%, -50%)

.slick-slide iframe
    position: relative
    pointer-events: none

.slick-slide figure
    position: relative
    height: 100%

.slick-slide .slide-image
    opacity: 0
    height: 100%
    background-size: cover
    background-position: center top
    transition: all .8s ease

.slick-slide .slide-image.show
    opacity: 1

.slick-slide .image-entity
    width: 100%
    opacity: 0
    visibility: hidden

.slick-slide .loading
    position: absolute
    top: 44%
    left: 0
    width: 100%

.slick-slide .slide-media
    animation: slideOut 0.4s cubic-bezier(0.4, 0.29, 0.01, 1)

.slick-slide.slick-active
    z-index: 1

.slick-slide.slick-active .slide-media
    animation: slideIn 2.4s cubic-bezier(0.4, 0.29, 0.01, 1)

.slick-slide.slick-active .caption
    opacity: 1
    transform: translateY(0)
    transition: all 0.7s cubic-bezier(0.32, 0.34, 0, 1.62) 0.6s

.slick-dots
    bottom: 0
    z-index: 10
    li
        button
            &:before
                color: #fff
.slick-dotted.slick-slider
    margin-bottom: 0

.caption
    position: absolute
    z-index: 99
    top: 50%
    left: 10%

.about
    color: #000
    background-color: #fff
    font-family: $font-thai
    p
        @include rem("font-size", 12)
    figure
        img
            border-radius: 10px
    span
        @include rem("font-size", 14)
        color: #FF1D25

.service
    color: #333
    background-color: #fff
    font-family: $font-thai
    ul.tabmenu
        padding: 20px 0
        display: flex
        flex-direction: row
        justify-content: center
        li
            padding-top: 15px
            @include rem("font-size", 10)
            a
                text-transform: uppercase
                color: #666
                // border: solid #fff 1px
                padding: 10px 30px
                border-radius: 6px
                +media-breakpoint-down(lg)
                    padding: 8px 20px
                    @include rem("font-size", 8)
                &.active
                    color: #ED1A3F
                    border: 1px solid #ED1A3F
            h6
                font-weight: 300
    ul.content
        li
            font-weight: 300
            list-style-image: url('../img/line.jpg')
            padding-top: 5px
            padding-bottom: 15px

.portfolio
    color: #333
    padding: 6% 0
    ul.tabmenu
        padding: 20px 0
        display: flex
        flex-direction: row
        justify-content: center
        li
            padding-top: 15px
            @include rem("font-size", 10)
            a
                text-transform: uppercase
                color: #666
                // border: solid #fff 1px
                padding: 10px 30px
                border-radius: 6px
                &.active
                    color: #ED1A3F
                    border: 1px solid #ED1A3F
            h6
                font-weight: 300
.client
    color: #333
    padding: 6% 0
    div
        padding-top: 15px
        padding-bottom: 15px
.contact
    background: #B2B2B2
    padding: 50px
    +media-breakpoint-down(lg)
        padding: 25px
    h3
        color: #fff
    .row
        background-color: #F2F2F2
    label
        @include rem("font-size", 8)
    color: #333
    @include rem("font-size", 12)
    ul.location
        padding: 10px 0
        display: flex
        flex-direction: row
        justify-content: space-between
        li
            @include rem("font-size", 10)
            a
                color: $gray
footer
    padding: 2% 0
    color: $gray
    @include rem("font-size", 8)
    ul
        li
            a
                color: $gray
aside
    position: relative


.slider-frame
    background-color: #0f0
    position: relative
    margin: 0 auto
    overflow: hidden
    .btn
        width: 40px
        height: 100%
        background: rgba(0,0,0,0.3)
        position: absolute
        top: 0
        z-index: 1000
        &.prev
            left: 0px
        &.next
            right: 0px
    .slider-container
        transition: margin-left .2s ease, left .5s ease
        position: absolute
        left: 0
        .slide
            background-color: #f00
            float: left
            position: relative
            top: 0
            transition: width .2s ease, height .2s ease, top .2s ease
            &:nth-child(even)
                background-color: blue


// TEST
.wrapper
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    justify-content: space-between
    align-items: stretch
    align-content: flex-start
    width: 100%
    // align-items: stretch

#sidebar
    min-width: 250px
    max-width: 250px
    height: 100vh
    transition: all 0.3s
    padding-top: 20px
    padding-left: 40px
    background: #fff
    @include rem("font-size", 14)
    position: relative
    z-index: 99
    transition: all 400ms
    ul
        position: fixed
        top: 20px
        left: 40px
        z-index: 9
        transition: all 400ms
        li
            padding: 10px 0
    &.active
        margin-left: -250px
        transition: all 400ms
        ul
            margin-left: -250px
            transition: all 400ms
    // mobile
    +media-breakpoint-down(lg)
        margin-left: -250px
        ul
            position: static
        &.active
            width: 250px
            margin-left: 0
            ul
                position: fixed
                margin: 0


#main-content
    width: 100%
    position: relative
    min-height: 100vh
    transition: all 400ms
    margin-left: 0px
    // padding-right: 250px
    // +media-breakpoint-up(lg)
    //     padding-right: 0px
    &.active
        padding-right: 0px
        margin-left: 0px
        +media-breakpoint-down(lg)
            width: 35%
    +media-breakpoint-down(lg)
        padding-right: 0px
    #sidebarCollapse
        position: fixed
        top: 30px
        left: 30px
        z-index: 1
        transition: all 400ms
        +media-breakpoint-down(lg)
            position: fixed
            left: 75%

.fixed
    position: fixed !important
    left: 285px !important
    transition: 0.3s all ease
    +media-breakpoint-down(lg)
        left: 30px !important
        transition: 0.3s all ease


.port
    margin-top: 15px
    margin-bottom: 15px
    overflow: hidden
    position: relative
    display: inline-block
    a
        .tmb
            overflow: hidden
            object-fit: cover
            transition: 450ms all
        .details
            padding: 0 15px
            position: absolute
            bottom: 0
            left: 0
            right: 0
            top: 0
            font-size: 14px
            opacity: 0
            background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%)
            transition: 450ms opacity
            .title
                position: absolute
                bottom: 0
                padding: 10px
                color: #fff
    &:hover
        .tmb
            transform: scale(1.2)
        .details
            opacity: 1


// cocktail pro
.bg-cocktail
    background: url('../img/bg-cocktail.jpg') #fff no-repeat center top
    background-size: cover
    padding: 0 5% 20%
    height: 100%
    font-family: 'Kanit', sans-serif
    line-height: 1
    @include rem("font-size", 20)

