/**
 * Dirty hacks, yes internet explorer, we are looking at you
*/

ul {
  // list-style: none;
  margin: 0;
  padding: 0 0 0 15px;
}
.form-control{
  box-shadow: inset 0 0 0 0 !important
}

.bmd-form-group .bmd-label-floating,
.bmd-form-group .bmd-label-placeholder {
  left: 0;
}

figure {
  margin: 0 !important;
}

.custom-file-control:focus,
.form-control:focus {
  border-color: transparent;
}
.form-control:focus,
.custom-file-control:focus {
  box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
}

.custom-file-control,
.form-control,
.is-focused .custom-file-control,
.is-focused .form-control {
  background-image: linear-gradient(0deg, #ed1b2e 2px, rgba(0, 150, 136, 0) 0),
    linear-gradient(0deg, rgba(0, 0, 0, 0.26) 1px, transparent 0) !important;
}
.is-focused [class*=" bmd-label"],
.is-focused [class^="bmd-label"] {
  color: #ed1b2e !important;
}

.span_pseudo,
.checkbox-theme span:before,
.checkbox-theme span:after {
  content: "";
  display: inline-block;
  background: #fff;
  width: 0;
  height: 0.2rem;
  position: absolute;
  transform-origin: 0% 0%;
}

.checkbox-theme {
  position: relative;
  height: 2rem;
  display: flex;
  align-items: center;
}
.checkbox-theme input {
  display: none;
}
.checkbox-theme input:checked ~ span {
  background: #fd2727;
  border-color: #fd2727;
}
.checkbox-theme input:checked ~ span:before {
  width: 1rem;
  height: 0.15rem;
  transition: width 0.1s;
  transition-delay: 0.3s;
}
.checkbox-theme input:checked ~ span:after {
  width: 0.4rem;
  height: 0.15rem;
  transition: width 0.1s;
  transition-delay: 0.2s;
}
.checkbox-theme input:disabled ~ span {
  background: #ececec;
  border-color: #dcdcdc;
}
.checkbox-theme input:disabled ~ label {
  color: #dcdcdc;
}
.checkbox-theme input:disabled ~ label:hover {
  cursor: default;
}
.checkbox-theme label {
  padding-left: 2rem;
  position: relative;
  z-index: 2;
  cursor: pointer;
  margin-bottom: 0;
}
.checkbox-theme span {
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  border: 2px solid #ccc;
  position: absolute;
  left: 0;
  transition: all 0.2s;
  z-index: 1;
  box-sizing: content-box;
}
.checkbox-theme span:before {
  transform: rotate(-55deg);
  top: 1rem;
  left: 0.37rem;
}
.checkbox-theme span:after {
  transform: rotate(35deg);
  bottom: 0.35rem;
  left: 0.2rem;
}
